<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oauth Activity By Michael Joseph Lagang</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    
    <div id="loading" class="loading"></div>
    
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">OAuth</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="active"><a href="/">Homepage</a></li>
                    <% if(user) { %>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                    <% } else { %>
                    <li><a href="/auth/login">Login</a></li>
                    <% } %>
                </ul>
            </ul>
        </div>
    </nav>
    <h1>Michael Joseph Lagang OAuth Activity</h1>
    <h2>Homepage</h2>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Lobster');
        .loading {
            width: 100%;
            height: 100%;
            position: fixed;
            background: white;
            top: 0;
            left: 0;
            z-index: 99;
        }
        .loading:after {
            content: "";
            width: 50px;
            height: 50px;
            position: absolute;
            top: -30px;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            border: 6px solid hsl(330, 100%, 56%);
            border-top: 6px dotted hsl(330, 100%, 56%);
            border-bottom: 6px dotted hsl(330, 100%, 56%);
            border-radius: 50%;
            animation: loading 2s infinite;
        }
        .loading:before {
            font-family: 'Lobster', cursive;
            font-size: 20px;
            letter-spacing: 1px;
            color: hsl(330, 100%, 56%);
            content: "Loading...";
            position: absolute;
            top: 53%;
            text-align: center;
            right: 0;
            left: 0;
            margin: auto;
        }

        @keyframes loading {
            0% {
                transform: rotate(0);
            }
            50% {
                transform: rotate(360deg);
            }
        }
    </style>

    <script>
        setTimeout(function(){
            document.getElementById("loading").style.display = "none";
        }, 1000
        );

        $(document).ready(function(){
        var loading = $(".loading");
        loading.delay(loading.attr("delay-hide")).slideUp();
        });
    </script>

</body>
</html>