<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oauth Activity By Michael Joseph Lagang</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">OAuth</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Homepage</a></li>
                    <% if(user) { %>
                    <li class="active"><a href="/profile">Profile</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                    <% } else { %>
                    <li><a href="/auth/login">Login</a></li>
                    <% } %>
                </ul>
            </ul>
        </div>
    </nav>

    <h1>Welcome to your profile, <%= user._name %> </h1>    
    <!-- <p>
        extra information about you
        <img src="<%= user._picture %>" alt="picture">
        <p>This is your profile thumbnail</p>
    </p> -->
    <div class="row">
        <div class="col s2">
            <div class="collection">
                <a href="/hr/emp" class="collection-item">Employee</a>
                <a href="/hr/dept" class="collection-item">Department</a>
                <a href="/hr/empdept" class="collection-item">EmpDept</a>
                <a href="/hr/salary" class="collection-item">Salary</a>
            </div>
        </div>
        <div class="col s10">
            <div class="card-panel teal lighten-2">Choose Data to Show</div>
        </div>
    </div>

</body>
</html>